<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <display-name>SearchCountry</display-name>
    <servlet-name>SearchCountry</servlet-name>
    <servlet-class>presentation.SearchCountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCountry</servlet-name>
    <url-pattern>/countrySearch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetReports</servlet-name>
    <servlet-class>presentation.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReports</servlet-name>
    <url-pattern>/getReport</url-pattern>
  </servlet-mapping>

</web-app>
